[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyserini = "*"
dload = "*"
pytest = "*"
jupyter = "*"
nltk = "*"
autopep8 = "*"
pylint = "*"
pytest-cov = "*"
rope = "*"
flake8 = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.9"
