[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserini = "<=0.13.0"
dload = "*"
pytest = "*"
nltk = "*"
autopep8 = "*"
pylint = "*"
pytest-cov = "*"
rope = "*"
flake8 = "*"
gensim = "*"
requests = "*"
tqdm = "*"
trectools = "*"

[dev-packages]

[requires]
python_version = "3.9"
