[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserini = ">=0.14.0,==0.14.*"
dload = "*"
pytest = "*"
nltk = "*"
autopep8 = "*"
pylint = "*"
pytest-cov = "*"
rope = "*"
flake8 = "*"
gensim = "*"
requests = "*"
tqdm = "*"
trectools = "*"
faiss-cpu = "*"  # Needed for pyserini >= 0.14.0
torch = "*"  # Needed for pyserini >= 0.14.0
debater-python-api = { path = './lib/debater_python_api-3.5.8.tar.xz' }
dataclasses-json = "*"
pandas = "*"
pymagnitude = "*"
annoy = "*"  # Needed for pymagnitude
diskcache = "*"
websockets = "*"
pillow = ">=9.0.0"
targer-api = "*"
spacy = ">=2.3,==2.*"
ir-axioms = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
